<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="VicAAriousRunner">

  <!--<listeners>-->
    <!--<listener class-name=""/>-->
  <!--</listeners>-->

  <parameter name="testingURL" value=""/>

  <test name="AA Parallel Tests" parallel="methods" thread-count="2">
    <classes >
      <class name="com.oceana.testing.VerifyActionsOnHomePage"/>
    </classes>
  </test>
</suite>

